* {
    margin: 0; /* Убрать внешние отступы, которые заданы браузером по контуру все страницы по умолчанию */
	padding: 0;
}

.one-bag {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .2em;
    color: #5a5a5a;
    text-transform: uppercase;
    display: flex;
    padding-right: 7%;
    padding-left: 7%;

}

#inner {
    /*display: flex;*/
    /* align-items: center; */
    /* justify-content: center; */

    /*padding-right: 7%;*/
    /*padding-left: 7%;*/
}

.inner-photo {
    /*display: flex;*/
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
    padding-right: 7%;
    width: 50%;
    flex-wrap: wrap;
}

.inner-photo img {
    padding-bottom: 4%;
}



    .inner-text__name {
        letter-spacing: .2em;
        color: #000000;
        padding-top: 20px;
        text-transform: uppercase;
        font-style: normal;
        font-size: 20px;
    }

    .inner-text__price {
        padding-top: 15px;
        padding-bottom: 40px;
        letter-spacing: .1em;
        color: #9f9f9f;
    }

    .inner-text__description-title {
        border-top: 2px solid #ebebeb;
        padding-top: 20px;
        padding-bottom: 15px;
        letter-spacing: .1em;
        color: #5a5a5a;
        width: 400px;
        text-transform: uppercase;
    }

    .inner-text__description {
        letter-spacing: .1em;
        color: #5a5a5a;
        line-height: 23px;
        text-transform: none;
    }

    .inner-text__description p:first-child {
        padding-bottom: 50px;
    }

    .inner-text__description p:last-child {
        padding-top: 60px;
    }

    .inner-text__description ul {
        padding-left: 30px;
    }


.add-to-cart_padding {
    padding-top: 50px;
    padding-bottom: 20px;
}


.button__style_add-to-cart {
    width: 350px;
    height: 40px;
    display: flex;


    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    letter-spacing: .2em;
    color: #000000;
    text-align: center;
    justify-content: center;

    background-color: #8ef98d;
    border: 1px solid #cccccc;

    padding: 12px;

    transition: all 0.6s;
    cursor: pointer;
    text-decoration: none;
    }

        .button__style_add-to-cart:hover {
            background-color: #a9a4a4;
            color: #fff;
            opacity: 0.8;
        }



.button__style_buy-now {
    width: 350px;
    height: 40px;
    display: flex;

    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    letter-spacing: .2em;
    color: #000000;
    text-align: center;
    justify-content: center;

    background-color: #49b148;
    border: 1px solid #cccccc;

    padding: 12px;

    transition: all 0.6s;
    cursor: pointer;
    text-decoration: none;
    }

        .button__style_buy-now:hover {
            background-color: #a9a4a4;
            color: #fff;
            opacity: 0.8;
        }
