* {
    margin: 0; /* Убрать внешние отступы, которые заданы браузером по контуру все страницы по умолчанию */
	padding: 0;

}

main {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .2em;
    color: #5a5a5a;
    text-transform: uppercase;
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

}

main #you-interested {
    margin-right: auto;
}

#you-interested {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 6%;
    font-size: 12px;
}

#goods {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

    .goods--one-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 17px;
        padding-right: 1%;
        padding-left: 1%;

    }

    .one-item__id {
        text-transform: none;
        letter-spacing: 0;
        color: #2bd516;
        padding-top: 5px;
    }

    .one-item__name {
        text-decoration: none;
        letter-spacing: .2em;
        color: #5a5a5a;
        padding-top: 10px;
    }

    .one-item__price {
        padding-top: 5px;
        padding-bottom: 10px;
        letter-spacing: .1em;
        color: #9f9f9f;
        text-transform: uppercase;
    }

/* Конопки для админа  */

.remove-entry-admin {
    display: flex;

    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    letter-spacing: .2em;
    color: #5a5a5a;
    text-align: center;

    background-color: #99f1ac;
    border-radius: 10px;
    border: 1px solid #cccccc;

    padding: 12px;

    transition: all 0.6s;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 25px;


}
.remove-entry-admin:hover {
    background-color: #09930e;
    color: #fff;
    opacity: 0.6;
}



#admin-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#admin-photo {
    display: flex;

    width: 374px;
    height: 600px;
    background: url(../images/adminImg/Doors_of_Durin.jpg);
    background-size: 100% 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.enter_button-admin {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    letter-spacing: .2em;
    color: #5a5a5a;
    text-align: center;

    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #cccccc;

    padding: 8px;

    transition: all 0.6s;
    cursor: pointer;
    text-decoration: none;
    margin-top: 160px;
}

        .enter_button-admin:hover {
            background-color: #a9a4a4;
            color: #fff;
            opacity: 0.6;
        }

.admin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.password_button-admin {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90px;
    height: 20px;
    text-align: center;

    font-size: 24px;
}