body {
    font-family: cursive;

}

/*
* {
    margin: 0; /* Убрать внешние отступы, которые заданы браузером по контуру все страницы по умолчанию
	padding: 0;
} */


/* Блок */
.limonchik {
	width: 200px; /* Указываем ширину и высоту объекта */
	height: 200px;
	background: #F5F240; /* Указываем задний фон - желтый */
	border: 2px solid #F0D900; /* Обводка 2 пикселя */
	border-radius: 10px 150px 30px 150px; /* Скругление углов */

	opacity: 0.9; /* Прозрачность */

	margin: 50px 150px; /* Внешние отступы от объекта (по часовой стрелке) */
	padding: 20px 20px; /* Внутренние отступы от объекта (по часовой стрелке) */

	display: block; /* Что будет представлять из себя объект.*/
                    /* Т.е. даже если он строчный мы можем определить его как блок */

}

