* {
    margin: 0; /* Убрать внешние отступы, которые заданы браузером по контуру все страницы по умолчанию */
	padding: 0;
}

body {
    height: 2000px; /* Высота блока */
    font-family: cursive;

}

#header, #footer {
    width: 100%; /* Ширина блока */
	height: 70px; /* Высота блока */
	text-align: center; /* Положение текста */
	background: #F5F240; /* Указываем задний фон - желтый */
	border-bottom: 4px solid #BE5525; /* Обводка снизу блока 2 пикселя */
	color: red; /* Цвет текста (или объекта, который находится в блоке) */
	line-height: 70px; /* Расстояние между строками (указывается таким же как высота, что бы выровнять весь текст по центру блока(лайвхак) */

    margin-bottom: 50px; /* Нижний отступ */
    float: left;

}

#main{
    width: 50%; /* Ширина блока 50% ширины экрана */
    margin-left: 10%; /* Отступ слева 10% экрана */
    background: #E0AC7A; /* Указываем задний фон*/
    border: 2px solid #BE5525; /* Обводка блока 2 пикселя */
    padding: 20px 2.5%; /* Внутренние отступы: сверху и снизу 20 пикселей, по бокам по 2,5% */
    float: left;


}

#aside {
    width: 20%; /* Ширина блока 50% ширины экрана */
    margin-left: 5%; /* Отступ слева 10% экрана */
    background: #E0AC7A; /* Указываем задний фон*/
    border: 2px solid #BE5525; /* Обводка блока 2 пикселя */
    padding: 20px 2.5%; /* Внутренние отступы: сверху и снизу 20 пикселей, по бокам по 2,5% */
    float: left;

    position: relative; /* relative: позиционируем объект относительно того места, ге он сейчас находится */
    top: -10px;
    left: -30px;
}

#footer{
margin-bottom: 0px; /* Нижний отступ */
margin-top: 50px; /* Верхний отступ */
border-bottom: 0px; /* Обводка снизу блока 2 пикселя */
border-top: 4px solid #BE5525; /* Обводка сверху блока 2 пикселя */

}

#some_bloc_absolute {
    width: 200px; /* Ширина блока 50% ширины экрана */
    height: 80px; /* Высота блока */

    background: red; /* Указываем задний фон*/
    border: 2px solid #BE5525; /* Обводка блока 2 пикселя */

    position: absolute; /* absolute: позиционируем объект относительно окна хрома */
    top: 200px;
    left: 50px;
}

#some_bloc_fixed {
    width: 200px; /* Ширина блока 50% ширины экрана */
    height: 80px; /* Высота блока */

    background: red; /* Указываем задний фон*/
    border: 2px solid #BE5525; /* Обводка блока 2 пикселя */


    position: fixed; /* fixed: Фиксируем объект при скроле (при этом надо указать высоту body) */
    top: 500px;
    left: 100px;
}

.list_list {
    width: 200px; /* Ширина блока 50% ширины экрана */
    height: 80px; /* Высота блока */

    background: red; /* Указываем задний фон*/
    border: 2px solid #BE5525; /* Обводка блока 2 пикселя */


    position: fixed; /* fixed: Фиксируем объект при скроле (при этом надо указать высоту body) */
    top: 300px;
    left: 70px;
}